@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{ 
        ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("uname");

    }
    @if (ViewBag.Data!=null)
    {
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Login" asp-action="ShowProfile">Hi @ViewBag.Data!</a>
        
    </li>
    @* <li class="nav-item">
        <form>
            <button id="profile" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Login" asp-action="ShowProfile">Profile</button>
        </form>
    </li> *@
    <li class="nav-item">
            @*<form id="logoutForm" class="form-inline" asp-controller="Login"  asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Login", new { area = "" })">*@
        <form>
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Login" asp-action="Logout">Logout</button>
        </form>
            @*</form>*@
    </li>
    }
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Login" asp-action="SignUp">Hi Traveller!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Login" asp-action="SignUp">Register</a>
            @*@Html.ActionLink("Register","Create","Users")*@
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="Login">Login</a>
    </li>
}