@model FlightProjApi.Models.LoginSignUp

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@* <h4>LoginSignUp</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pword" class="control-label"></label>
                <input asp-for="Pword" class="form-control" type="password"/>
                <span asp-validation-for="Pword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPword" class="control-label"></label>
                <input asp-for="ConfirmPword" class="form-control" type="password"/>
                <span asp-validation-for="ConfirmPword" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Pid" class="control-label"></label>
                <input asp-for="Pid" class="form-control" />
                <span asp-validation-for="Pid" class="text-danger"></span>
            </div> *@
            <br>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@* 
<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
